%section.ten-oh-announcement
  .ten-oh-label
    %span 12.1
  .ten-oh-description
    .ten-oh-description-body.text-center
      %h2.main-heading New features every month
      %p.u-margin-bottom-xs
        GitLab 12.1 released with Parallel Merge Trains, Merge Requests for Confidential Issues, Automated Let's Encrypt certificates for GitLab Pages and much more!

      .btn-group
        %a.btn.cta-btn.btn-white.margin-top20.hero-cta.hero-release-link{href: "/2019/07/22/gitlab-12-1-released/"}
          See what’s new
