<h3 id="<%= performance_indicator.name.parameterize %>"><%= performance_indicator.name %></h3>

<p><%= performance_indicator.description %></p>

<b>URL(s)</b>
<ul>
<% performance_indicator.urls.each do |url| %>
  <li><a href="<%= url %>"><%= url %></a></li>
<% end %>
</ul>

<b>Health: <%= color_code_health(performance_indicator.health.level) %></b>
<p><%= performance_indicator.health.reason %></p>

<b>Maturity: <%= color_code_maturity(performance_indicator.maturity.level) %></b>
<p><%= performance_indicator.maturity.reason %></p>

<b>Next Steps</b>
<ul>
<% performance_indicator.next_steps.each do |next_step| %>
  <li><%= next_step %></li>
<% end %>
</ul>
