%ul
  %li{class: ("menu-item-active" if current_page.url == "/stages-devops-lifecycle/")}
    %a.main-nav-link{href: "/stages-devops-lifecycle/"} Product
    .dropdown.dropdown-wide
      %a.main-nav-sub-link{href: "/stages-devops-lifecycle/"}
        %img.link-icon{ src: "/images/nav/gitlab-logo-color.svg", alt: "Gitlab logo color svg" }
        .nav-text
          %p.link-title
            GitLab
          %p.link-description
            A single application for the entire DevOps lifecycle
      %a.main-nav-sub-link{href: "/services/"}
        %img.link-icon{ src: "/images/nav/cogs-color.svg", alt: "Gitlab cogs icon svg" }
        .nav-text
          %p.link-title
            GitLab Professional Services
          %p.link-description
            Accelerate your software lifecycle with help from GitLab experts
      %p.nav-label
        Popular GitLab use cases
      %a.main-nav-sub-link{href: "/product/continuous-integration/"} Continuous Integration (CI/CD)
      %a.main-nav-sub-link{href: "/product/source-code-management/"} Source Code Management (SCM)
      %a.main-nav-sub-link{href: "/product/auto-devops/"} Out-of-the-box Pipelines (Auto DevOps)
      %a.main-nav-sub-link{href: "/solutions/dev-sec-ops/"} Security (DevSecOps)
      %a.main-nav-sub-link{href: "/solutions/agile-delivery/"} Agile Development
      %a.main-nav-sub-link{href: "/solutions/value-stream-management/"} Value Stream Management
  %li{class: ("menu-item-active" if current_page.url.include? "/pricing/")}
    %a.main-nav-link{href: "/pricing/"} Pricing
  %li{class: ("menu-item-active" if current_page.url.include? "/resources/")}
    %a.main-nav-link{href: "/resources/"} Resources
    .dropdown
      %a.main-nav-sub-link{href: "/community/"} Community
      %a.main-nav-sub-link{href: "/get-started/"} Get started
      %a.main-nav-sub-link{href: "/events/"} Upcoming events
      %a.main-nav-sub-link{href: "/is-it-any-good/"} Is GitLab any good?
      %a.main-nav-sub-link{href: "/customers/"} Customer case studies
      %a.main-nav-sub-link{href: "https://docs.gitlab.com/"} GitLab docs
  %li{class: ("menu-item-active" if current_page.url == "/blog/")}
    %a.main-nav-link{href: "/blog/"} Blog
  %li{class: ("menu-item-active" if current_page.url == "/support/")}
    %a.main-nav-link{href: "/support/"} Support
    .dropdown
      %a.main-nav-sub-link{href: "https://support.gitlab.com"} Contact support
      %a.main-nav-sub-link{href: "/get-help/"} Support resources
      %a.main-nav-sub-link{href: "/partners/"} Partners
      %a.main-nav-sub-link{href: "/resellers/"} Resellers
  %li{class: ("menu-item-active" if current_page.url == "/jobs/")}
    %a.main-nav-link{href: "/jobs/"} Jobs
  %li
    %button.search-icon.js-search-toggle{ type: "button", "aria-label" => "Search" }
      %i.fa.fa-search
  .sign-up-container
    %li.nosubmenu
      %a.main-nav-link.sign-up{ href: "https://gitlab.com/explore", target: "_blank" }
        Explore
    %li.nosubmenu
      %a.main-nav-link.sign-up{ href: "https://gitlab.com/users/sign_in" }
        Sign in
    %li.nosubmenu
      %a.main-nav-link.sign-up{ href: "https://gitlab.com/users/sign_in#register-pane" }
        Register
